{% extends "admin/change_list.html" %}
{% load admin_urls i18n %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      <a href="{% url opts|admin_urlname:'add' %}" class="addlink">
        {% if opts.model_name == "blogpost" %}
          {% trans "New article" %}
        {% elif opts.model_name == "blogtag" %}
          {% trans "Add tag" %}
        {% else %}
          {% blocktranslate with opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        {% endif %}
      </a>
    </li>
  {% endif %}
  {% if blog_import_url %}
    <li>
      <a href="{{ blog_import_url }}" class="addlink">{% trans "Import article" %}</a>
    </li>
  {% endif %}
{% endblock %}
